$white-10: #F2F2F2;
$gray-20: #747264;

$dark-20: #17171A;
$dark-30: #202024;
$dark-50: #2B2B2E;
$dark-60: #3C3633;


$gradient: linear-gradient(270deg, hsl(99, 40%, 82%) 0%, rgb(88, 186, 111) 100%);
$green: #D2E3C8;

$shadow-60: rgba(0, 0, 0, 0.35) 0 5px 20px;